body {
	background-image: url("../images/coral-image.jpg");
	        background-size: cover;
}

.fish1
{
	width: 120px;
	height: 120px;
	position:relative;
	top: 627px;	
}

.bubble1
{
	width: 80px;
	height: 80px;
	position:relative;
}
.bubble2
{
	width: 80px;
	height: 80px;
	position:relative;
}
.bubble3
{
	width: 80px;
	height: 80px;
	position:relative;
}
